/* Basic Style */
.todo {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.tasks__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
 }
 .tasks__button:hover {
  color: #3a3A3a;
}
.tasks__title
{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* header */
.banner {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.banner__img {
  width: 100%;
}
.banner__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .banner { 
    text-align: center;
}
}
/*  main sections */ 
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* New Task */
.new__wrap {
  display: flex;
  margin-top: 20px;
}

.new__input {
  display: inline-block;
  padding: 0 9px;
  width: 318px;
}
  
.new__input:focus, 
.tasks__item__input:focus {
  color: #333;
}
  
.tasks__list {
  margin: 0;
  padding: 0px;
}

/* Heading */


.new__input, 
.tasks__item__input, 
.tasks__item__label 
{
  background: #FFF;
  border: 1px solid #dDd;
  border-radius: 6px;
  color: #888;
  flex-grow: 1;
  font-family: Lato, sans-serif;
  font-size: 18px;
  height: 21px;
  line-height: 18px;
  margin: 0;
}

/* Task list */
.tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__item__checkbox {
  margin: 0 10px;
}

.tasks__item__label, 
.tasks__item__input
{
  box-sizing: border-box;
  padding: 0 9px 0 10px;
  width: 226px;
}

.tasks__item__label{
  display: inline-block;
}

.tasks__item__input {
  display: none;
}

/* Edit Task */
.edit-mode__input {
  display: inline-block;
  width: 224px;
}

.edit-mode__label {
  display: none;
}

/* Completed */
.complete-mode__label {
  text-decoration: line-through;
  color: #888;
}

.tasks__button_delete {
  height: 2em;
  width: 30px;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  padding: 0px 3px;
}

.tasks__button_delete:hover {
  transform: rotateZ(0);
}